html {
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}

body{
  overflow-x: hidden;
}

h2{
  margin: 0.5em;
}

p{
  margin: 0.5em;
}

.App {
  text-align: center;
  position: relative;
  /* display: inline-block; */
}

.app-title {
  float: left;
  margin-left: 1em;
  margin-right: 2em;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5em;
}

.nav-bar{
  position: fixed;
  width: 100%;
  height: auto;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.nav-ul{
  font-size: 1em;
  text-align: left;
  list-style: none;
}
.nav-li{
  display: inline-block;
  margin: 1em;
}a{
  text-decoration: none;
  color: black;
}

.section {
  width: 100%;
  height: auto;
  background-color: white;
}

.container {
  margin: auto;
  /* background-color: rgba(0, 0, 0, 0.2); */
  width: 80%;
  height: auto;
  padding-top: 10em;
  padding-bottom: 10em;
  margin-bottom: 1em;
}

.status-board {
  margin: auto;
  /* background-color: pink; */
  width: 70%;
  height: auto;
}
.sb-title {
  padding-top: 1em;
  font-size: 2em;
  font-weight: 600;
}
.sb-ul{
  display: flex;
  padding: 1em;
  list-style: none;
}
.sb-li{
  float: left;
  margin: auto;
}
.sb-li-title{
  font-weight: 600;
}
.sb-li-value{
  font-size: 1.2em;
}

.sel-loc{
  padding: 0.3em;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 2em;
}
.sel-date{
  width: 10em;
  padding: 0.3em;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
.sel-btn {
  padding: 0.3em;
  font-size: 1em;
  margin-left: 1em;
}

.psb-title {
  padding-bottom: 1em;
  font-size: 2em;
  font-weight: 600;
}

.ps-board {
  margin: auto;
  margin-top: 0.5em;
  width: 80%;
  height : auto;
  /* max-height: 40vh; */
  padding: 1em;
  text-align: center;
}

.ps-datalist{
  background-color: rgb(231, 231, 231);;
  width: 100%;
  max-height: 40vh;
  overflow-y: auto;
}

.ps-table{
  width: 100%;
  margin: auto;
  padding: 1em;
}

.bar-chart{
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 100%;
}

.vc-container {
  width: 100%;
  display: inline-block;
  border: 0.5px solid rgb(231, 231, 231)
}

.center-info {
  background-color: rgb(231, 231, 231);
  width: 40%;
  float: right;
  height: 70vh;
}

.sel-prov{
  padding: 0.3em;
  font-size: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  /* float: left */
}
.btn-prev{
  margin-right: 1em;
  font-size: 1em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.btn-next{
  margin-left: 1em;
  font-size: 1em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.center-list {
  position: absolute;
  width: 32%;
  height: 70vh;
  margin: auto;
  z-index: 1;
  text-align: center;
}

.vc-ul{
  display:inline-block;
  padding-left: 0;
  font-size: 1em;
  text-align: left;
  list-style: none;
  width: 100%;
  height: 58vh;
  max-height: 60vh;
  overflow-y: auto;
}
.vc-li{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.8em;
  margin-bottom: 1.8em;
  font-size: 1em;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.description{
  position: absolute;
  width: 32%; /*(80*0.4)*/
  height: 70vh;
  background-color: #fff;
  z-index: 2;
}

.toggle-show{
  float:right;
  font-size: 0.8em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.toggle-hide{
  float:right;
  font-size: 1.2em;
  padding: 0.5em;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  z-index: 2;
}

.desc-content{
  z-index: 1;
  text-align: left;
  font-size: 1.2em;
}

.img{
  width: 100%;
  height: auto;
}